body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#imageContainer {
    margin: 20px;
}

#currentImage {
    width: 80%;
    height: auto;
    transition: opacity 0.5s ease; /* Smooth Übergang für das Bild */
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

input[type="checkbox"], input[type="number"] {
    margin: 10px;
}

#dropZone {
    width: 150px;
    height: 100px;
    border: 2px dashed #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 10px;
}

