/*
* This is the main css file.
*/

/* Basic Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}

/* Header Styles */
.game-header {
    color: white;
    text-align: center;
    padding: 5vh 0;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10vh;
    margin-right: 15px;
}

.game-header h1 {
    margin: 0;
    font-size: 24px;
}

/* Board styles */
.boardSection {
    flex: 1 0 0;
}

#gameCanvas {
    border: 1px solid black;
}

/* Sidebar styles */
.sidebar {
    flex: 1 0 0;
    color: white;
    text-align: left;
    padding: 20vh 20px;
}

/* Current color */
#currentColor {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/* Dice styles */
.diceSection {
    flex: 1 0 0;
}

#diceImage {
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.dice-filter {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Responsive layout */
@media (max-width: 975px) {
    .container {
      flex-direction: column;
    }

    .sidebar {
        flex: 1 0 0;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 0;
        width: 500px;
    }
}